@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="colorrow light tag">
    <label>aaa</label>
</div>
<div class="colorrow light">
    aaa
</div>
<div class="colorrow dark tag">
    <label>aaa</label>
</div>
<div class="colorrow dark">
    <input type="submit" value="Save" class="btn-green borderlessinput" />
    <input type="submit" value="Save" class="btn-blue borderlessinput" />
    <input type="submit" value="Save" class="btn-red borderlessinput" />
</div>
<div>
    
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
