@page
@model LotusWebApplication.Pages.Manufacturer.EditModel

@{
    ViewData["Title"] = "Edit Manufacturer";
}
<div class="colorrow neutral header">
    <label>Edit Manufacturer</label>
</div>

<form method="post">
    <div class="colorrow dark tag">
        <label>Basic Information</label>
    </div>
    <div class="row colorrow dark">
        <div class="col-md-4">
            <input type="hidden" asp-for="Manufacturer.MAN_Code" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Manufacturer.MAN_Desc" class="control-label"></label>
                <input asp-for="Manufacturer.MAN_Desc" class="form-control" />
                <span asp-validation-for="Manufacturer.MAN_Desc" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Manufacturer.MAN_NAA_Code" class="control-label"></label>
                <select asp-for="Manufacturer.MAN_NAA_Code" class="form-control" asp-items="ViewBag.MAN_NAA_Code"></select>
            </div>
        </div>
    </div>
    <div class="colorrow neutral tag">
        <label>Form Buttons</label>
    </div>
    <div class="row colorrow neutral">
        <div class="form-group">
            <a asp-page="Index" class="btn-green borderlessinput">Back to List</a>
            <input type="submit" value="Edit" class="btn-blue borderlessinput" />
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
