@page
@model LotusWebApplication.Pages.City.EditModel

@{
    ViewData["Title"] = "Edit City";
}
<div class="colorrow neutral header">
    <label>Edit City</label>
</div>
<form method="post">
    <div class="colorrow dark tag">
        <label>Basic Information</label>
    </div>
    <div class="row colorrow dark">
        <div class="col-md-4">
            <input type="hidden" asp-for="City.CTY_Code" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="City.CTY_Name_Fa" class="control-label"></label>
                <input asp-for="City.CTY_Name_Fa" class="form-control" />
                <span asp-validation-for="City.CTY_Name_Fa" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="City.CTY_Name_En" class="control-label"></label>
                <input asp-for="City.CTY_Name_En" class="form-control" />
                <span asp-validation-for="City.CTY_Name_En" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="City.CTY_PRV_Code" class="control-label"></label>
                <select asp-for="City.CTY_PRV_Code" class="form-control" asp-items="ViewBag.CTY_PRV_Code"></select>
            </div>
        </div>
    </div>
    <div class="colorrow neutral tag">
        <label>Form Buttons</label>
    </div>
    <div class="row colorrow neutral">
        <div class="form-group">
            <a asp-page="Index" class="btn-green borderlessinput">Back to List</a>
            <input type="submit" value="Add" class="btn-blue borderlessinput" />
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
